.nav-logo {
  float: left !important;
  padding: -15px !important;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.jumbo {
  width: 80vw;
}

.brand-text {
  font-family: 'Dancing Script', cursive;
  color: '#fff';
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 0 0 3px 0;
  border-radius: 15px;
  font-size: 1rem;
  text-align: center;
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* defined the main axis */
  justify-content: center;
  /* y-axis */
  align-items: center;
  /* x-axis */
}

.contdsdainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* defined the main axis */
  justify-content: center;
  /* y-axis */
  align-items: center;
  /* x-axis */
}
